*{
    margin:0;
    padding:0;
}
header {
    background: url(../images/image/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    width:1200px;
    max-width: 90%;
    margin:0 auto;
    padding: 1em;
}
.menu-logo-wrapper{    
    display: grid;   
    grid-template-columns: repeat(2, 1fr);    
}
.logo img{
    width:291px;
    height: 39px;
}
.nav-bar{
    margin-top: 10px;
}
.nav-bar ul{
    list-style: none;
    display: flex;
}
.nav-bar ul li{
    margin-right: 45px;
}
.nav-bar ul li:last-child {
    margin: 0px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #3C3C3C;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 25px;
}
.slider-wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;

}
.left-side-content{
    width:416px;
    height: 160px;
    margin-top: 60px;
}
.left-side-content h1{
    font-family: bebas neue;
    font-size: 80px;
    font-weight: 500;
    color: #363958;
    line-height: 80px;
}
span{
    color:#FABE4C;
}
.left-side-content p {
    width: 357px;
    height: 52px;
    font-family: 'Roboto';
    color: #3E3E3E;
    margin-top: 20px;
}
.right-side-image{
    width:440px;
}
.right-side-image img{
    width:100%;
}
.button {
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
    background: linear-gradient(to top, #89A41F, #A2BB44);
}

.section-title{
    font-family: 'Bebas Neue';
    width: 225px;
    color: #363958;
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 40px;
}
.jacket-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.product-image{   
    display: flex;    
    background: #F1F1F1;   
    box-shadow: rgb(218 218 218) 1px 4px 14px 5px;    
    border-radius: 10px;
}

.product-image img {
    width:370px;
}
.article{
    padding:20px;
    width: 299px;
}
.article h5 {
    font-size: 25px;
    color: #363958;
    font-family: 'Roboto';
    margin-bottom: 20px;
}

.article p {
    font-size: 18px;
    color: #3E3E3E;
    font-family: 'Roboto';
    line-height: 29px;
}
h2.dollar-sign {
    font-size: 35px;
    font-family: 'Roboto';
    margin-right: 76px;
    color: #FABE4C;
}

.dollar-with-button {
    display: flex;
    padding: 20px;
    margin-top: -26px;
    align-items: center;
}
.all-wrapper {
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.single-items {
    display: flex;
    width: 489px;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
}
.single-items-wrapper {
    margin-right: 80px;
}
.single-items{
    margin-right: 50px;
}

.left-side-icon {
    width: 78px;
    margin-right: 40px;
}

.left-side-icon img {
    width: 100%;
}
.right-side-content {
    width: 276px;
}

.right-side-content h3 {
    font-size: 22px;
    font-family: 'Roboto';
    color: #363958;
    margin-bottom: 15px;
}

.right-side-content p {
    font-family: 'Roboto';
    color: #3E3E3E;
    line-height: 27px;
}
.right-side-coverImg img {
    width: 599px;
}

.image-right-side {
    width: 500px;
    margin-right: 260px;
}

.image-right-side img {
    width: 100%;
}

.product-wrapper {
    display: flex;
}

.right-content {
    width: 550px;
    padding:20px;
}

.right-content h1 {
    font-size: 50px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    color: #FABE4C;
    margin-bottom: 20px;
}

.right-content p {
    font-size: 17px;
    line-height: 25px;
    color: #3E3E3E;
    margin-bottom: 30px;
    text-align: justify;
}
.Order-btn {
    background: #FABE4C;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    color: #363958;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 800;
}

h2.title-bar {
    text-align: center;
    color: #363958;
    font-size: 50px;
    font-family: 'Bebas Neue';
    margin-bottom: 20px;
    margin-top: 30px;
    border-top: 3px solid #50579e;

}





